* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

/* Layout */
.app {
    display: flex;
    height: calc(100vh - 90px);
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #000;
    padding: 20px;
}

.logo {
    color: #1db954;
    margin-bottom: 25px;
}

.menu li,
.playlist-menu li {
    list-style: none;
    padding: 10px 0;
    color: #b3b3b3;
    cursor: pointer;
}

.menu li:hover,
.playlist-menu li:hover {
    color: white;
}

.sidebar h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #777;
}

/* Content */
.content {
    flex: 1;
    padding: 25px;
    overflow-y: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

/* Cards */
.card {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #282828;
    transform: translateY(-5px);
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    border-radius: 8px;
}

/* Play Button */
.play-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #1db954;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
}

.card:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}

.card h3 {
    margin-top: 10px;
}

.card p {
    font-size: 14px;
    color: #b3b3b3;
}

/* Player */
.player {
    height: 90px;
    background: #181818;
    border-top: 1px solid #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.song {
    font-size: 14px;
}

.artist {
    font-size: 12px;
    color: #b3b3b3;
}

.controls {
    font-size: 22px;
}

.volume {
    font-size: 14px;
    color: #b3b3b3;
}

/* Mobile */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
.section-title {
    margin: 30px 0 15px;
}

/* Song List */
.song-list {
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
}

.song-row {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 60px;
    padding: 12px 15px;
    border-bottom: 1px solid #282828;
    font-size: 14px;
    color: #b3b3b3;
    cursor: pointer;
}

.song-row:hover {
    background: #282828;
    color: white;
}

.song-row:last-child {
    border-bottom: none;
}
