* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fef7f2;
    color: #3b2f2f;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    background: #2e1c1c;
    position: sticky;
    top: 0;
}

.logo {
    color: #ffcc99;
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc99;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: #ffcc99;
    color: #2e1c1c;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
}

/* Menu */
.menu {
    padding: 70px 40px;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
    height: 460px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 10px;
}

.card span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
.card img {
    width: 100%;
    margin-bottom: 10px;
    height: 230px;
    object-fit:cover;
}

.card h6 {
    font-size: 14px;
    margin-bottom: 4px;
}

.card p {
    font-size: 23px;
    color: gray;
    margin-bottom: 6px;
}


/* About */
.about {
    background: #fff0e6;
    padding: 70px 40px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.add-btn {
    margin-top: 10px;
    padding: 10px 15px;
    border:none ;
    background-color: #ec708d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    opacity:1;
    transition: opacity 0.3s ease;
}
.add-btn :hover {
    background: #f05d7f;
    text-decoration-color: rgb(238, 148, 148);
}
.card:hover .add-btn {
    opacity: 1;
}

/* Contact */
.contact {
    padding: 70px 40px;
    text-align: center;
}

/* Footer */
footer {
    background: #2e1c1c;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 36px;
    }
}
